<div class="container" style="padding: 30px 0px;">
<div class="row row-cols-1 row-cols-md-2 g-4" >
  <div class="col" style="padding:25px">
    <div class="card">
      <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- The slideshow -->
        <div class="carousel-inner" >
          <div class="carousel-item active" style="text-align: center; background-color: #d6d4d1">
            <img src="../../assets/images/chees.jpg" alt="Los Angeles" style="height:300px;">
          </div>
          <div class="carousel-item" style="text-align: center; background-color: #d6d4d1">
            <img src="../../assets/images/chees1.jpg" alt="Chicago" style="height:300px;">
          </div>
          <div class="carousel-item" style="text-align: center; background-color: #d6d4d1">
            <img src="../../assets/images/chees3.jpg" alt="New York" style="height:300px;">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>

      </div>
      <div class="card-body">
        <h5 class="card-title">Chees Tournament</h5>
        <p class="card-text">14th July 2020</p>
      </div>
    </div>
  </div>
  <div class="col" style="padding:25px">
    <div class="card">
      <div id="demo1" class="carousel slide" data-ride="carousel">

        <!-- The slideshow -->
        <div class="carousel-inner" >
          <div class="carousel-item active" style="background-color: #d6d4d1">
            <img src="../../assets/images/covid1.jpg" alt="Los Angeles" style="height:300px; width: 100%;">
          </div>
          <div class="carousel-item" style="background-color: #d6d4d1">
            <img src="../../assets/images/covid2.jpg" alt="Chicago" style="height:300px; width: 100%;">
          </div>
          <div class="carousel-item" style="background-color: #d6d4d1">
            <img src="../../assets/images/covid3.jpg" alt="New York" style="height:300px; width: 100%;">
          </div>
          <div class="carousel-item" style="background-color: #d6d4d1">
            <img src="../../assets/images/covid4.jpg" alt="Los Angeles" style="height:300px; width: 100%;">
          </div>
          <div class="carousel-item" style="background-color: #d6d4d1">
            <img src="../../assets/images/covid5.jpg" alt="Chicago" style="height:300px; width: 100%;">
          </div>
          <div class="carousel-item" style="background-color: #d6d4d1">
            <img src="../../assets/images/covid6.jpg" alt="New York" style="height:300px; width: 100%;">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo1" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo1" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>

      </div>
      <div class="card-body">
        <h5 class="card-title">COVID-19 Awarnees Program</h5>
        <p class="card-text">3rd May 2020</p>
      </div>
    </div>
  </div>
  <div class="col" style="padding:25px">
    <div class="card">
      <div id="demo2" class="carousel slide" data-ride="carousel">

        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active" style=" text-align: center; background-color: #d6d4d1">
            <img src="../../assets/images/ambedkar1.jpg" alt="Los Angeles" style="height:300px;">
          </div>
          <div class="carousel-item" style="text-align: center; background-color: #d6d4d1">
            <img src="../../assets/images/ambedkar2.jpg" alt="Chicago" style="height:300px;">
          </div>
          <div class="carousel-item" style="text-align: center; background-color: #d6d4d1">
            <img src="../../assets/images/ambedkar3.jpg" alt="New York" style="height:300px;">
          </div>
          <div class="carousel-item" style="text-align: center; background-color: #d6d4d1">
            <img src="../../assets/images/ambedkar4.jpg" alt="Los Angeles" style="height:300px;">
          </div>
          <div class="carousel-item" style="text-align: center; background-color: #d6d4d1">
            <img src="../../assets/images/ambedkar5.jpg" alt="Chicago" style="height:300px;">
          </div>
          <div class="carousel-item" style="text-align: center; background-color: #d6d4d1">
            <img src="../../assets/images/ambedkar6.jpg" alt="New York" style="height:300px;">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo2" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo2" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>

      </div>
      <div class="card-body">
        <h5 class="card-title">Ambedkar Death Aniversary</h5>
        <p class="card-text">6th Dec 2020</p>
      </div>
    </div>
  </div>
  <div class="col" style="padding:25px">
    <div class="card">
      <div id="demo3" class="carousel slide" data-ride="carousel">

        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active" style="text-align: center; background-color: #d6d4d1">
            <img src="../../assets/images/newyear1.jpg" alt="Los Angeles" style="height:300px;">
          </div>
          <div class="carousel-item" style="text-align: center; background-color: #d6d4d1">
            <img src="../../assets/images/newyear2.jpg" alt="Chicago" style="height:300px;">
          </div>
          <div class="carousel-item" style="text-align: center; background-color: #d6d4d1">
            <img src="../../assets/images/newyear3.jpg" alt="New York" style="height:300px;">
          </div>
          <div class="carousel-item" style="text-align: center; background-color: #d6d4d1">
            <img src="../../assets/images/newyear4.jpg" alt="Los Angeles" style="height:300px;">
          </div>
          <div class="carousel-item" style="text-align: center; background-color: #d6d4d1">
            <img src="../../assets/images/newyear5.jpg" alt="Los Angeles" style="height:300px;">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo3" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo3" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>

      </div>
      <div class="card-body">
        <h5 class="card-title">2021 New Year Celebration</h5>
        <p class="card-text">1st Jan 2021</p>
      </div>
    </div>
  </div>
</div>
</div>
