<div class="container" style="padding-bottom:40vh;padding-top:10vh;">
  <div class="row">
    <div class="col-md-12">
      <h3>Information</h3>

			<div class="tabbable-panel">
				<div class="tabbable-line">
					<ul class="nav nav-tabs ">
						<li class="active" style="padding: 0px 18%;">
							<a href="#tab_default_1" data-toggle="tab">Volunteer Information </a>
						</li>
						<li style="padding: 0px 18%;">
							<a href="#tab_default_2" data-toggle="tab">Student Information</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab_default_1">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Volunteer Name</th>
                    <th>Email Id</th>
                    <th>Password</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let user of users">
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.password}}</td>
                  </tr>
                </tbody>
              </table>
						</div>
						<div class="tab-pane" id="tab_default_2">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Student Name</th>
                    <th>Parent Name</th>
                    <th>Education</th>
                    <th>Date Of Birth</th>
                    <th>School Name</th>
                    <th>Gender</th>
                    <th>Contact</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let user of students">
                    <td>{{user.studentname}}</td>
                    <td>{{user.pname}}</td>
                    <td>{{user.edu}}</td>
                    <td>{{user.dob}}</td>
                    <td>{{user.schoolname}}</td>
                    <td>{{user.gender}}</td>
                    <td>{{user.contact}}</td>
                  </tr>
                </tbody>
              </table>
						</div>
					</div>
				</div>
			</div>

    </div>
  </div>
</div>
