// .carousel-inner:first-child {
//   animation-delay: 1s;
// }
p {
  text-align: justify;
  text-align: -webkit-center;
  line-height: 30pt;
  font-size: 1.2em;
  font-family: 'Josefin Sans', sans-serif;
}
.col-xl-6 {
  .details{
    text-align: -webkit-center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.4em;
    line-height: 30pt;
  }
  text-align: -webkit-center;
}
